@import url(common/reset.less);
@import url(common/breakpoints.less);
@import url(common/colors.less);
@import url(common/var.less);


html{
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
  display: flex;
  background-color: @bg-dark;
  color: @txt-light;
  @media @responsive-query__mobile{
    height: 52px;
    padding-inline: @responsive-padding-horizontal__mobile - 5px;
  }
  @media @responsive-query__tablet, 
  @responsive-query__desktop{
    height: 70px;
  }
  @media @responsive-query__tablet{
    padding-inline: @responsive-padding-horizontal__tablet;
  }
  @media @responsive-query__desktop{
    padding-inline: @responsive-padding-horizontal__desktop;
  }
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 7px;
  text-decoration: none;
  color: @txt-light;
  @media @responsive-query__tablet, 
  @responsive-query__desktop{
    column-gap: 11px;
  }
  &__image {    
    @media @responsive-query__mobile{
      max-width: 28px;
    }  
  }
  &__name {
    font-size: 14px;
    white-space: nowrap;
    @media @responsive-query__tablet, 
    @responsive-query__desktop{
      font-size: 17px;
    }
  }
}

.footer{
  flex: 0 0 auto;  
  background-color: @bg-dark;
  color: @txt-light; 

  @media @responsive-query__mobile{
    padding: 31px @responsive-padding-horizontal__mobile;
    font-size: @font-xs;
  } 
  @media @responsive-query__tablet{
    padding-inline: @responsive-padding-horizontal__tablet;
  } 
  @media @responsive-query__desktop{
    padding-inline: @responsive-padding-horizontal__desktop;
  } 
  @media @responsive-query__tablet, 
    @responsive-query__desktop{
      padding-block: 40px 60px ;       
      font-size: @font-m;
  }
  &__copy {
    padding-bottom: 16px;
  }
  &__license {
    color: @txt-lgray;
  }
  
}

.main{
  flex: 1 0 auto;
  background-color: @bg-lblue;
}

.baner {
  background: linear-gradient(85.89deg, #D8E3ED 13.4%, #E5E7EB 97.35%);
  position: relative;
  overflow: hidden;
    @media @responsive-query__mobile{
      padding: 30px @responsive-padding-horizontal__mobile 65px;
    } 
    @media @responsive-query__tablet{
      padding: 65px @responsive-padding-horizontal__tablet 75px;
    } 
    @media @responsive-query__desktop{
      padding: 80px @responsive-padding-horizontal__desktop - 30px;
    } 

  &:before {
    content: "";
    display: block;
    position: absolute;
    @media @responsive-query__mobile{
      left: calc(77% - 115px);
      top: 14px;
      height: calc(100% - 14px);
      width: 229px;
      background: url(../images/baner-m.svg) 0 bottom no-repeat;
      background-size: contain;
    }
    
    @media @responsive-query__tablet{
      left: calc(50% + 50px);
      top: 0;
      height: 100%;
      width: 373px;
      background: url(../images/baner-t.svg) 0 50% no-repeat;
      background-size: contain;
    } 
    
    @media @responsive-query__desktop{
      left: calc(50% + 90px);
      top: 0;
      height: 100%;
      width: 508px;
      background: url(../images/baner-d.svg) 0 50% no-repeat;
      background-size: contain;
    } 

  }

  &__wrap{
    max-width: 940px;
    margin-inline: auto;
  }
  &__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: @txt-dark;
    @media @responsive-query__mobile{
      width: 75%;
      font-size: calc(@font-l + 9 * ((100vw - 320px) / 768));
    } 
    @media @responsive-query__tablet, 
    @responsive-query__desktop{
      width: 60%;
      font-size: @font-xxl;
    } 
    @media @responsive-query__desktop{
      margin-bottom: 26px;
    } 
  }
  &__text {
    margin-bottom: 20px;
    color: @txt-gray;
    @media @responsive-query__mobile{
      width: 67%;
      max-width: 394px;
      font-size: calc(@font-s + 4 * ((100vw - 320px) / 768));
    } 
    @media @responsive-query__tablet, 
    @responsive-query__desktop{
      width: 60%;
      max-width: 450px;
      font-size: @font-l;
    } 
  }
}

.form{
  @media @responsive-query__mobile{
    padding: 40px 0;
  }     
  @media @responsive-query__tablet{
    padding: 40px @responsive-padding-horizontal__tablet 60px;
  }     
  @media @responsive-query__desktop{
    padding: 50px @responsive-padding-horizontal__desktop 60px;
    max-width: 1060px;
  margin-inline: auto; 
  }   
  &__fields{
    padding-block: 0;
    margin: 0;
    border: none;
    @media @responsive-query__mobile{
      padding-inline: @responsive-padding-horizontal__mobile;
    }  
    @media @responsive-query__tablet, @responsive-query__desktop{    
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid fade(@black70, 10%);
      padding-bottom: 30px;
    }  
    @media @responsive-query__tablet{    
      column-gap: 59px;
      padding-inline: 0;
    }  
    @media @responsive-query__desktop{
      column-gap: 51px;
      row-gap: 14px;
      padding-inline: 0;
      margin: 0 auto;
    }
  }
  &__title {
    width: 100%;
    font-weight: 400;
    color: @txt-dark;
    font-size: @font-m;
    @media @responsive-query__mobile, @responsive-query__desktop{
      margin-bottom: 20px;
    }     
    @media @responsive-query__tablet{
      margin-bottom: 18px;
    } 
  }
  &__title-step {
    display: block;
    font-weight: 700;    
    color: @green;
    @media @responsive-query__mobile{
      font-size: @font-l;
      margin-bottom: 5px;
    }     
    @media @responsive-query__tablet, @responsive-query__desktop{
      font-size: @font-xl;
    } 
    @media @responsive-query__tablet{
      margin-bottom: 8px;
    } 
    @media @responsive-query__desktop{
      margin-bottom: 6px;
    } 
  }
  &__field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 0 20px;

    @media @responsive-query__tablet{
      width: calc(50% - 59px/2);
      &--surname{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }
      &--gender {
        order: 1;
      }
    }
    @media @responsive-query__desktop{
      width: calc((100% - 51px*2)/3);
    } 
    &--full {
      width: 100%;
    }
  }
  &__input[type*=text],
  &__input[type=date],
  &__input[type=tel],
  select&__input{
    display: block;
    width: 100%;
    height: 26px;
    border: none;
    border-bottom: 1px solid #C1C1C1;
    background-color: transparent;
    outline: none;
    padding: 0 0 5px;
    font-size: @font-s;
    color: @txt-dark;
    line-height: 20px;
    appearance: none;
    -webkit-appearance: none;
  }
  select&__input{
      background-image: url(../images/select.svg);
      background-position: right calc(50% - 3px);
      background-repeat: no-repeat;
    &:focus {
      border-color: #000000;
    }
    }
  &__placeholder{
    display: block;
    position: absolute;   
    order: 1;
    font-size: @font-s;
    color: @txt-mgray;
    line-height: 20px;
    transition: transform 200ms;
  }
  &__input:focus ~ &__placeholder,
  &__input:not(:placeholder-shown) ~ &__placeholder  {
    font-size: @font-xxs;
    transform: translateY(-20px);
    
  }
  &__chek {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: @font-s;
    color: @txt-dark;
    line-height: 26px;
    &::before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      flex-grow: 0;
      background: #FFFFFF;
      border: 1px solid #E3E3E3;
      border-radius: 7px;
      margin-right: 15px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    &-input:focus+.form__chek::before {
      box-shadow: 0 0 3px @green;
    }
    &-input:checked+.form__chek::before {
      background-color: @white;   
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2384b245' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
    &-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

  }

  &__caption{
    padding-top: 5px;
    font-size: @font-xxs;
    color: @txt-dark;
    @media @responsive-query__tablet{
      &--gender {
        white-space: nowrap;
        margin-left: 45px;
        line-height: 26px;
      }
    }
  }
  &__footer {
    display: flex;
    @media @responsive-query__mobile{
      padding: 30px @responsive-padding-horizontal__mobile 0;
      flex-direction: column;
    }
    @media @responsive-query__tablet{
      padding-top: 40px;
      gap: 95px;
    }
    @media @responsive-query__desktop{
      padding-top: 45px;
    }
    @media @responsive-query__tablet, @responsive-query__desktop{      
      align-items: flex-start;
      justify-content: space-between;
    }
    &--reverse{
      @media @responsive-query__tablet, @responsive-query__desktop{ 
        flex-direction: row-reverse;
      }
    }
  }
  &__buttons {
    display: flex;
    @media @responsive-query__mobile{
      flex-direction: column-reverse;
      gap: 30px;
    }
    @media @responsive-query__tablet{
      gap: 40px;
    }
    @media @responsive-query__desktop{
      gap: 53px;
    }
  }
}

.indicator {
  display: flex;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  @media @responsive-query__mobile{ 
    column-gap: 2px;
  }     
  @media @responsive-query__tablet{    
    column-gap: 6px;
  } 
  @media @responsive-query__desktop{    
    column-gap: 12px;
  } 
  @media @responsive-query__tablet, @responsive-query__desktop {
    margin-bottom: 30px;
  }
  &__item{
    background-color: @bg-green;
    height: 6px;
    width: 100%;
    &--active ~ * {
      background-color: @bg-lgray;
    }
  }
}

.cart {
  @media @responsive-query__mobile{ 
    margin-top: 40px;
    margin-inline: -@responsive-padding-horizontal__mobile;
  } 
  @media @responsive-query__tablet, @responsive-query__desktop {      
    width: 100%;
  }
  &__head {
    font-size: @font-xs;
    color: @txt-mgray;
    @media @responsive-query__mobile{ 
      display: none;
    } 
    @media @responsive-query__tablet { 
      margin-inline: 20px;
      display: flex;
      column-gap: 40px;
    }
    @media @responsive-query__desktop { 
      margin-inline: 43px 20px;  
      display: flex;
      column-gap: 65px; 
    }   
    div{
      padding-bottom: 9px;      
    }
  }
  &__product {
    position: relative;
    background-color: @white; 
    margin-bottom: 10px;
    @media @responsive-query__mobile{ 
      padding:20px @responsive-padding-horizontal__mobile 8px;
    } 
    @media @responsive-query__tablet { 
      padding-inline: 20px;
    }
    @media @responsive-query__desktop { 
      padding-inline: 43px 20px;  
    }     
    @media @responsive-query__tablet, @responsive-query__desktop { 
      border-radius: 10px;
    }     
  }
  &__item{
    align-items: center;
    @media @responsive-query__tablet {      
      display: flex;
      column-gap: 40px;
    }
    @media @responsive-query__desktop {        
      display: flex;
      column-gap: 65px;
    }
  }
  &__col{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-block: 20px;
    @media @responsive-query__mobile{ 
        width: 100%;
    } 
    @media @responsive-query__tablet {    
      width: calc((80% - 40px*2)/2);
      min-width: 220px;
    }
    @media @responsive-query__desktop{
      width: calc((100% - 51px*2)/3);
    } 
    &--del {
      @media @responsive-query__mobile{ 
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 0;
        width: auto;
      } 
      @media @responsive-query__tablet{
        width: 20%;
        min-width: auto;
      }
      @media @responsive-query__tablet, @responsive-query__desktop {      
        align-items: flex-end;
      }
    }
  }  
  
  &__label {
    @media @responsive-query__mobile{ 
      margin-bottom: 5px;
      font-size: @font-xxs;
      color: @txt-mgray;
    }
    @media @responsive-query__tablet, @responsive-query__desktop {      
      display: none;
    }
  }
  &__value {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #C1C1C1;
    font-size: @font-s;
    color: @txt-dark;
    line-height: 20px;
    span{
      color: @txt-mgray;
    }
  }
  &__footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    @media @responsive-query__mobile{ 
      padding: 20px @responsive-padding-horizontal__mobile 40px;
    }
    @media @responsive-query__tablet{      
      padding-top: 30px;
    }
    @media @responsive-query__desktop {      
      padding-top: 20px;
    }
  }
  &__total {
    font-weight: 500;
    font-size: @font-m;
    color: @txt-dark;
    white-space: nowrap;
    @media @responsive-query__mobile{
      flex: 2; 
    }
    @media @responsive-query__desktop {      
      font-size: @font-l;
    }
    span {
      color: @green;
    }
  }
  &__add{
    display: block;
    @media @responsive-query__mobile{ 
      flex: 2;
    }
  }
  &__add-product {
    display: block;
    font-size: @font-s;
    color: @txt-dark;
    background-color: transparent;
    &:focus{
      box-shadow: 0 0 3px @green;
      outline: none;
    }
    @media @responsive-query__mobile {
      border: 1px solid @bg-lgray;
      border-radius: 10px;
      padding: 18px 10px;
      width: 100%;
      white-space: nowrap;
      margin-inline: auto;
      max-width: 280px;
    }    
    @media @responsive-query__tablet, @responsive-query__desktop {      
      border: none;
      padding: 0;
    }
    & * {
      vertical-align: middle;
      &:first-child{
        margin-right: 13px;
      }
    }
  }
}

.button {
  padding: 10px 74px;
  background: @bg-green;
  border-radius: 100px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: @txt-light;  
  margin-inline: auto;
  border: none;
  &:focus{
    box-shadow: 0 0 3px @green;
    outline: none;
  }
  &--mini{
    padding: 5px 21px 7px;
  }
  &--link {
    padding: 0;
    background: transparent;
    color: @green;
    white-space: nowrap;
    &:before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-right: 5px;
      border-top: 2px solid;
      border-left: 2px solid;
      border-color: @green;
      transform: rotate(315deg);
    }
  }
}

.button-del{
  width: max-content;
  font-size: @font-xs;
  color: @txt-mgray;
  vertical-align: middle;
  padding-left: 22px;
  border: none;
  background-color: transparent;
  position: relative;
  &:before{
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: @txt-mgray;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  &:after{
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: @txt-mgray;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translate(-50%,-50%) rotate(135deg);
  }
  &:focus{
    box-shadow: 0 0 3px @green;
    outline: none;
  }
  &--notext-m{
    @media @responsive-query__mobile {
      width: 26px;
      height: 26px;
      text-indent: -999em;
      overflow: hidden;
      padding: 10px;
      background-position: center center;
      background-size: 16px;
      &:before, &:after {
        left: 50%;
      }
    }
  }
  &--text-m{
    @media @responsive-query__tablet, @responsive-query__desktop {
      width: 10px;
      height: 10px;
      text-indent: -999em;
      overflow: hidden;
      padding: 10px;
      &:before, &:after {
        background-color: #C2213D;
        left: 50%;
      }
    }
  }
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: fade(#565656, 15%);
  display: flex;
  justify-content: center;
  @media @responsive-query__mobile {  
    align-items: flex-end;
  }
  @media only screen and (min-width: 360px), @responsive-query__tablet, @responsive-query__desktop {  
    align-items: center;
  }
  &__wrap{
    background: @white;
    width: 100%;
    position: relative;
    @media @responsive-query__mobile {  
      border-radius: 10px 10px 0 0;
      padding: 30px @responsive-padding-horizontal__mobile 36px;
    }
    @media only screen and (min-width: 360px), @responsive-query__tablet, @responsive-query__desktop {  
      max-width: 360px;
      padding: 34px 40px 40px 40px;
    border-radius: 10px;
    }
  }
  &__title{
    margin-bottom: 6px;
    font-weight: 700;
    font-size: @font-xl;
  }
  &__submit {
    border: none;
    display: block;
    @media @responsive-query__mobile {  
      margin-top: 20px;
      width: 100%;
      max-width: 220px;
    }
    @media @responsive-query__tablet, @responsive-query__desktop {  
      margin-top: 30px;
    }
  }
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 28px;
    height: 28px;
    padding: 5px;
    border: none;
    background: transparent;

    &:before {
      content: "";
      display: block;
      width: 24px;
      height: 2px;
      background-color: @txt-mgray;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      content: "";
      display: block;
      width: 24px;
      height: 2px;
      background-color: @txt-mgray;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }
}

.documents{
  @media @responsive-query__mobile {  
    background-color: @bg-white;
    padding: 30px @responsive-padding-horizontal__mobile 20px;
    margin: 30px -@responsive-padding-horizontal__mobile 0;
  }
  @media @responsive-query__tablet, @responsive-query__desktop { 
    width: 100%;
  }
  &__section:not(:last-child){
    margin-bottom: 60px;
  }
  &__title {
      margin-bottom: 10px;
    @media @responsive-query__mobile {
      font-weight: 500;
      font-size: @font-m;
      color: @txt-dark;
    }
    @media @responsive-query__tablet, @responsive-query__desktop {  
      font-size: @font-l;
    }
  }
  &__recommend {
    font-weight: 400;
    font-size: @font-s;
    color: @txt-mgray;
    margin-bottom: 20px;
    @media @responsive-query__mobile {
      font-size: @font-s;
      color: @txt-dark;
    }
    @media @responsive-query__tablet, @responsive-query__desktop {  
      font-size: @font-m;
      color: @txt-gray;      
    }
  }
  &__items{
    display: flex;
    @media @responsive-query__mobile {
      gap: 10px;
      flex-direction: column;
    }
    @media @responsive-query__tablet{  
      gap: 20px;      
    }
    @media @responsive-query__desktop {  
      gap: 27px;      
    }
  }
  &__item {
    border-radius: 5px;
    display: flex;
    @media @responsive-query__mobile {
      background-color: #F6F6F9;
      gap: 37px;
      padding: 20px;
    }
    @media @responsive-query__tablet {  
      background-color: @white;    
      width: calc((100% - 20px)/2);  
      padding: 20px 30px 30px;    
      gap: 40px; 
    }
    @media @responsive-query__desktop {  
      background-color: @white;  
      width: calc((100% - 27px)/2); 
      padding: 30px; 
      gap: 50px;
    }
    svg{
      flex-shrink: 0;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    @media @responsive-query__mobile {
      
    }
    @media @responsive-query__tablet{  
           
    }
    @media @responsive-query__desktop {  
            
    }
    input[type=file] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      position: absolute;
      z-index: -10;
    }
  }
  &__descr {     
      font-size: @font-s;
      color: @txt-dark;
    @media @responsive-query__mobile { 
      margin-bottom: 10px; 
    }
    @media @responsive-query__tablet, @responsive-query__desktop {  
      margin-bottom: 20px;  
    }
  }
  &__success{
    font-weight: 500;
    font-size: @font-xs;
    color: @green;
    @media @responsive-query__mobile { 
      margin-bottom: 25px; 
    }
    @media @responsive-query__tablet, @responsive-query__desktop {  
      margin-bottom: 13px;  
    }
  }
  &__name {
    @media @responsive-query__mobile { 
      display: none;
    }
    @media @responsive-query__tablet, @responsive-query__desktop {  
      font-size: @font-xs;
      line-height: 14px;
      color: @txt-mgray;
      margin-right: 5px;
    }
  }
  &__upload{
    display: inline-block;
    input:focus + &{
        box-shadow: 0 0 3px @green;
        outline: none;
    }
    @media @responsive-query__mobile { 
      margin-top: 25px; 
    }
  }
}

.agree {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  max-width: 460px;
  @media @responsive-query__mobile{
    margin-bottom: 33px;
  }
  &__checkbox{
    display: inline;
    padding: 0;
  }
  &__link {
    line-height: 26px;
    color: @green;
    font-size: @font-xs;
  }
}

.stage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  @media @responsive-query__mobile{
    padding-top: 37px;
  }
  @media @responsive-query__tablet, @responsive-query__desktop{
    align-items: center;    
  }
  &__wrap {
    max-width: 500px;  
    @media @responsive-query__mobile{
      padding: 0 @responsive-padding-horizontal__mobile;
    }
    @media @responsive-query__tablet, @responsive-query__desktop{
      background-color: @bg-white;
      padding: 43px 50px 40px;  
      border-radius: 10px;
    }
  }
  &__title {
    font-weight: 700;
    color: @txt-dark;
    @media @responsive-query__mobile{
      font-size: @font-xl;
      line-height: 25px;
      margin-bottom: 20px;
    }
    @media @responsive-query__tablet, @responsive-query__desktop{
      font-size: @font-xxl;
      line-height: 32px;
      margin-bottom: 49px;
      text-align: center;
    }
  }
  &__pincode{
    max-width: 210px;
    @media @responsive-query__mobile{
      margin-bottom: 45px;
    }
    @media @responsive-query__tablet, @responsive-query__desktop{
      margin: 0 auto 50px;
    }
    label {
      color: @txt-dark;
    }
  }
  &__submit{
    display: inherit;
    margin-bottom: 40px;
    @media @responsive-query__mobile{
      margin-left: 0;
      width: 220px;
      padding: 10px;
    }
  }
  &__repeat{
    font-size: @font-xs;
    line-height: 14px;
    color: @txt-mgray;
    @media @responsive-query__tablet, @responsive-query__desktop{
      text-align: center;
    }
  }
}

.pincode {
  display: flex;
  justify-content:center;
  gap: 11px;
  margin-top: 15px;
  input {
    width: calc((100% - 11px*3)/4);
    border: none;
    border-bottom: 2px solid #999999;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: @txt-dark;
    text-align: center;
    outline:none;
    @media @responsive-query__mobile{
      background: transparent;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.success {
  text-align: center;
  svg {
    margin-bottom: 40px;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__message{
    color: @txt-gray;

    @media @responsive-query__mobile{
      font-size: @font-s;
      line-height: 16px; 
    }
    @media @responsive-query__tablet, @responsive-query__desktop{ 
      font-size: @font-l;
      line-height: 24px;
    }
  }
}