    <footer class="footer">
        <div class="footer__copy">© 2017 - 2021 АО «Банк Русский Стандарт». </div>
        <div class="footer__license">
            Генеральная лицензия Банка России № 2289 выдана бессрочно 
            19 ноября 2014 года
        </div>
    </footer>

    <script src="js/main.min.js"></script>

</body>
</html>