//////////////////////////////////////////////////////////////////////////
// Переменные для адаптивного дизайна
//////////////////////////////////////////////////////////////////////////
//
//////////////////////////////////////////////////////////////////////////
// Ширины
//////////////////////////////////////////////////////////////////////////
@responsive-width__min: 320px;
@responsive-width__mobile: 767px;
@responsive-width__tablet_min: 768px;
@responsive-width__tablet: 1023px;
@responsive-width__desktop: 1024px;
@responsive-width__lg: 1279px;
@responsive-width__xlg_min: 1280px;
@responsive-width__xlg: 1365px;
@responsive-width__wide: 1366px;
//////////////////////////////////////////////////////////////////////////
// Выражения
////////////////////////////////////////////////////////////////////////// /
@responsive-query__lg: ~"only screen and (min-width: @{responsive-width__desktop}) and (max-width: @{responsive-width__lg})";
@responsive-query__xlg: ~"only screen and (min-width: @{responsive-width__xlg_min}) and (max-width: @{responsive-width__xlg})";
@responsive-query__wide: ~"only screen and (min-width: @{responsive-width__wide})";
@responsive-query__desktop: ~"only screen and (min-width: @{responsive-width__desktop})";
@responsive-query__tablet: ~"only screen and (min-width: @{responsive-width__tablet_min}) and (max-width: @{responsive-width__tablet})";
@responsive-query__tablet_portrait: ~"@{responsive-query__tablet} and (orientation:portrait)";
@responsive-query__tablet_landscape: ~"@{responsive-query__tablet} and (orientation:landscape)";
@responsive-query__mobile: ~"only screen and (max-width: @{responsive-width__mobile})";
@responsive-query__tiny: ~"only screen and (max-width: 374px)";
//////////////////////////////////////////////////////////////////////////
//  Стандартная ширина Layout в desktop/tablet версиях
//////////////////////////////////////////////////////////////////////////
@responsive-layout-width: 1000px;
//////////////////////////////////////////////////////////////////////////
//  Горизонтальные отступы
// Не де-факто, но лучше придердживаться их
//////////////////////////////////////////////////////////////////////////
@responsive-padding-horizontal__mobile: 20px;
@responsive-padding-horizontal__tablet: 40px;
@responsive-padding-horizontal__desktop: 60px;

////////////////////////////////
//   Простая ретина.
//   Без необходимости отфильтровывать по размеру экрана
////////////////////////////////
@retina-2x: ~"(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
@retina-3x: ~"(-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi)";

////////////////////////////////////////////////////////////////
// Следующие решения протестировать на универсальность (webkit и ff вроде работают, ИЕ хрен потестишь)
////////////////////////////////////////////////////////////////
////////////////////////////////
//  Ретина + мобила
////////////////////////////////
@responsive-query__mobile__2x: ~"only screen and (max-width: @{responsive-width__mobile}) and (min-resolution: 192dpi)";
@responsive-query__mobile__3x: ~"only screen and (max-width: @{responsive-width__mobile}) and (min-resolution: 288dpi)";
////////////////////////////////
//  Ретина + планшет
////////////////////////////////
@responsive-query__tablet__2x: ~"only screen and (min-width: @{responsive-width__tablet_min}) and (max-width: @{responsive-width__tablet}) and (min-resolution: 192dpi)";
@responsive-query__tablet__3x: ~"only screen and (min-width: @{responsive-width__tablet_min}) and (max-width: @{responsive-width__tablet}) and (min-resolution: 288dpi)";
