@white: #FFFFFF;

@totalBlack: #000000;
@black90: #222222;
@black70: #333333;
@black60: #666666;
@black50: #999999;
@black40: #A0A0A0;
@black30: #B3B3B3;
@black20: #D4D4D4;
@black10: #E4E4E4;
@black05: #F0F0F0;
@black03: #F8F8F8;
@green: #84B245;



@bg-dark: #3D4040;
@bg-lblue: #F3F4F5;
@bg-lgray: #C9C9C9;
@bg-white: #FFFFFF;
@bg-green: @green;
@bg-transparent: fade(#565656, 15%);

@txt-light: @white;
@txt-lgray: @black30;
@txt-mgray: @black50;
@txt-gray:  @black60;
@txt-dark:  @black70;
