<!--=include header.html -->

<main class="main">
    <article class="baner">
        <div class="baner__wrap">
            <h1 class="baner__title">
                Отправьте одну заявку на&nbsp;кредит или&nbsp;рассрочку сразу в&nbsp;несколько банков
            </h1>
            <p class="baner__text">
                Менеджер свяжется с&nbsp;вами по&nbsp;телефону и&nbsp;расскажет об&nbsp;одобренных предложениях
            </p>
        </div>
    </article>

    <form action="" class="form ">
       
        <fieldset class="form__fields hidden"  title="Шаг 1. Данные о Клиенте">
            <legend class="form__title">
                <span class="form__title-step">Шаг 1</span>
                Данные о Клиенте
            </legend>
            <div class="indicator form__indicator">
                <span class="indicator__item indicator__item--active"></span>
                <span class="indicator__item"></span>
                <span class="indicator__item"></span>
            </div>
            <div class="form__field">
                <input id="firstname" class="form__input" type="text" placeholder=" " />
                <label for="firstname" class="form__placeholder">Фамилия</label>
                <div class="form__caption"></div>
            </div>
            <div class="form__field">
                <input id="name" class="form__input" type="text" placeholder=" " />
                <label for="name" class="form__placeholder">Имя</label>
                <div class="form__caption"></div>
            </div>
            <div class="form__field form__field--surname">
                <input id="surname" class="form__input" type="text" placeholder=" " />
                <label for="surname" class="form__placeholder">Отчество</label>
                <div class="form__caption form__caption--gender">
                    <input type="checkbox" class="form__chek-input" id="checkbox" />
                    <label class="form__chek" for="checkbox">
                        Нет отчества
                    </label>
                </div>
            </div>
            <div class="form__field form__field--gender">
                <select name="gender" id="gender" class="form__input">
                    <option value="муж" selected>муж</option>
                    <option value="жен">жен</option>
                </select>
                <label for="gender" class="form__placeholder">Пол</label>
                <div class="form__caption"></div>
            </div>
            <div class="form__field">
                <input id="birthsday" class="form__input" type="date" />
                <label for="birthsday" class="form__placeholder">Дата рождения</label>
                <div class="form__caption"></div>
            </div>
            <div class="form__field">
                <input id="phone" class="form__input" type="tel" placeholder=" " />
                <label for="phone" class="form__placeholder">Мобильный телефон</label>
                <div class="form__caption"></div>
            </div>
            <div class="form__field">
                <input id="promo" class="form__input" type="text" placeholder=" " />
                <label for="promo" class="form__placeholder">Код проумоутера</label>
                <div class="form__caption">Если есть</div>
            </div>
        </fieldset>
        <fieldset class="form__fields hidden"  title="Шаг 2. Данные о Клиенте">
            <legend class="form__title">
                <span class="form__title-step">Шаг 2</span>
                Данные о товарной корзине
            </legend>
            <div class="indicator">
                <span class="indicator__item"></span>
                <span class="indicator__item indicator__item--active"></span>
                <span class="indicator__item"></span>
            </div>
            <div class="cart">            
                <div class="cart__wrap">
                    <div class="cart__head">
                        <div class="cart__col">Наименование товара</div>
                        <div class="cart__col">Стоимость</div>
                    </div>
                    <div class="cart__product">
                        <div class="cart__item">
                            <div class="cart__col">
                                <div class="cart__label">Наименование товара</div>                            
                                <div class="cart__value">Велосипед</div>                             
                            </div>
                            <div class="cart__col">
                                <div class="cart__label">Стоимость</div>                          
                                <div class="cart__value">45 630 <span>₽</span></div> 
                            </div>
                            <div class="cart__col cart__col--del">
                                <button class="button-del button-del--notext-m cart__del">Удалить товар</button>
                            </div>
                        </div>
                    </div>
                    <div class="cart__product">
                        <div class="cart__item">
                            <div class="cart__col">
                                <div class="cart__label">Наименование товара</div>                            
                                <div class="cart__value">Велосипед</div>                             
                            </div>
                            <div class="cart__col">
                                <div class="cart__label">Стоимость</div>                          
                                <div class="cart__value">45 630 <span>₽</span></div> 
                            </div>
                            <div class="cart__col cart__col--del">
                                <button class="button-del button-del--notext-m cart__del">Удалить товар</button>
                            </div>
                        </div>
                    </div>
                    <div class="cart__footer">
                        <div class="cart__total">Итого: <span>147 800.55 руб.</span></div>
                        <div class="cart__add">
                            <button class="cart__add-product">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="12.1421" cy="12" r="12" fill="#84B245"/>
                                    <path d="M12.1421 18L12.1421 6.92897M6.60658 12.4645L17.6776 12.4645" stroke="white" stroke-width="2"/>
                                </svg>
                                <span>Добавить товар</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup hidden">
                <div class="popup__wrap">
                <div class="popup__title">Создать товар</div>
                <div class="form__field form__field--full">
                    <input id="product-name" class="form__input" type="text" placeholder=" " />
                    <label for="product-name" class="form__placeholder">Название товара </label>
                </div>
                <div class="form__field form__field--full">
                    <input id="product-price" class="form__input" type="text" placeholder=" " />
                    <label for="product-price" class="form__placeholder">Стоимость</label>
                </div>
                <button class="button popup__submit">Добавить</button>
                <button class="popup__close"></button>
                </div>
            </div>
        </fieldset>
        <fieldset class="form__fields hidden"  title="Шаг 3. Прикрепление изображений">
            <legend class="form__title">
                <span class="form__title-step">Шаг 3</span>
                Прикрепление изображений
            </legend>
            <div class="indicator">
                <span class="indicator__item"></span>
                <span class="indicator__item"></span>
                <span class="indicator__item indicator__item--active"></span>
            </div>
                    
            <div class="documents">     
                
                <div class="documents__section">
                    <div class="documents__title">Паспорт</div>
                    <div class="documents__recommend">Старайтесь не закрывать пальцами данные и фотографировать при хорошем освещении</div>
                    <div class="documents__items">
                        <div class="documents__item">
                            <svg width="51" height="62" viewBox="0 0 51 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 43H25V41H45V43Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 48H25V46H45V48Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37 53H25V51H37V53Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 16H6V14H45V16Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 24H35V22H45V24Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 11H6V9H45V11Z" fill="#9C9AB1"/>
                                <rect x="1" y="1" width="49" height="30" rx="4" stroke="#9C9AB1" stroke-width="2"/>
                                <rect x="1" y="31" width="49" height="30" rx="4" stroke="#9C9AB1" stroke-width="2"/>
                                <path d="M9.61163 44.4734C9.61163 44.4734 9.02761 44.7677 9.02761 45.6504C9.02761 46.5332 9.90364 46.8274 9.90364 46.8274C9.90364 49.0011 13.1157 50.3584 13.9918 50.3584C14.8678 50.3584 18.0799 49.0011 18.0799 46.8274C18.0799 46.8274 18.9559 46.5332 18.9559 45.6504C18.9559 44.7677 18.3719 44.4734 18.3719 44.4734M9.61163 44.4734C9.61163 44.4734 9.31962 44.4734 9.31962 42.7079C9.31962 40.9425 10.4877 38 13.9918 38C17.4959 38 18.6639 40.9425 18.6639 42.7079C18.6639 43.8849 18.3719 44.4734 18.3719 44.4734M9.61163 44.4734C9.61163 44.4734 10.1957 45.0619 11.0717 45.0619C11.0717 45.0619 10.7797 42.7079 11.6557 42.1195C12.2397 43.2964 13.9918 44.4734 15.1598 44.4734C15.1598 44.4734 14.5758 43.2964 15.1598 42.7079C15.7438 44.1792 17.4959 44.4734 18.3719 44.4734M15.1598 50.0491L15.7438 52.1238C15.7438 52.1238 19.0917 52.7704 20.0458 53.5412C21 54.312 21 55 21 55M12.8402 50.0492L12.2562 52.1238C12.2562 52.1238 8.90834 52.7704 7.95417 53.5412C7 54.312 7 55 7 55" stroke="#9C9AB1" stroke-width="1.5" stroke-miterlimit="10"/>
                            </svg>
                            <div class="documents__info">
                               <div class="documents__descr">Разворот паспорта с&nbsp;фотографией</div>
                               <div class="documents__success">Загружено</div>
                               <div  class="documents__file">
                                    <span class="documents__name">паспорт.jpg</span>
                                    <button class="button-del button-del--text-m documents__remove">Удалить файл</button>
                                </div>
                               <div>
                                    <input type="file" id="upload1" />
                                    <label class="button button--mini documents__upload" for="upload1" hidden>Загрузить</label>
                                </div>
                            </div>
                        </div>                                           
                        <div class="documents__item">
                            <svg width="51" height="62" viewBox="0 0 51 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 43H25V41H45V43Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 48H25V46H45V48Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37 53H25V51H37V53Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 16H6V14H45V16Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 24H35V22H45V24Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 11H6V9H45V11Z" fill="#9C9AB1"/>
                                <rect x="1" y="1" width="49" height="30" rx="4" stroke="#9C9AB1" stroke-width="2"/>
                                <rect x="1" y="31" width="49" height="30" rx="4" stroke="#9C9AB1" stroke-width="2"/>
                                <path d="M9.61163 44.4734C9.61163 44.4734 9.02761 44.7677 9.02761 45.6504C9.02761 46.5332 9.90364 46.8274 9.90364 46.8274C9.90364 49.0011 13.1157 50.3584 13.9918 50.3584C14.8678 50.3584 18.0799 49.0011 18.0799 46.8274C18.0799 46.8274 18.9559 46.5332 18.9559 45.6504C18.9559 44.7677 18.3719 44.4734 18.3719 44.4734M9.61163 44.4734C9.61163 44.4734 9.31962 44.4734 9.31962 42.7079C9.31962 40.9425 10.4877 38 13.9918 38C17.4959 38 18.6639 40.9425 18.6639 42.7079C18.6639 43.8849 18.3719 44.4734 18.3719 44.4734M9.61163 44.4734C9.61163 44.4734 10.1957 45.0619 11.0717 45.0619C11.0717 45.0619 10.7797 42.7079 11.6557 42.1195C12.2397 43.2964 13.9918 44.4734 15.1598 44.4734C15.1598 44.4734 14.5758 43.2964 15.1598 42.7079C15.7438 44.1792 17.4959 44.4734 18.3719 44.4734M15.1598 50.0491L15.7438 52.1238C15.7438 52.1238 19.0917 52.7704 20.0458 53.5412C21 54.312 21 55 21 55M12.8402 50.0492L12.2562 52.1238C12.2562 52.1238 8.90834 52.7704 7.95417 53.5412C7 54.312 7 55 7 55" stroke="#9C9AB1" stroke-width="1.5" stroke-miterlimit="10"/>
                            </svg>
                            <div class="documents__info">
                               <div class="documents__descr">Разворот паспорта с&nbsp;фотографией</div>
                               <div class="documents__success" hidden>Загружено</div>
                               <div  class="documents__file" hidden>
                                    <span class="documents__name">паспорт.jpg</span>
                                    <button class="button-del button-del--text-m documents__remove">Удалить файл</button>
                                </div>
                               <div>
                                    <input type="file" id="upload2" />
                                    <label class="button button--mini documents__upload" for="upload2">Загрузить</label>
                                </div>
                            </div>
                        </div>                                           
                    </div>
                </div>        
                <div class="documents__section">
                    <div class="documents__title">Ваша фотография </div>
                    <div class="documents__recommend">Старайтесь не закрывать пальцами данные и фотографировать при хорошем освещении</div>
                    <div class="documents__items">
                        <div class="documents__item">
                            <svg width="51" height="62" viewBox="0 0 51 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 43H25V41H45V43Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 48H25V46H45V48Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M37 53H25V51H37V53Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 16H6V14H45V16Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 24H35V22H45V24Z" fill="#9C9AB1"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M45 11H6V9H45V11Z" fill="#9C9AB1"/>
                                <rect x="1" y="1" width="49" height="30" rx="4" stroke="#9C9AB1" stroke-width="2"/>
                                <rect x="1" y="31" width="49" height="30" rx="4" stroke="#9C9AB1" stroke-width="2"/>
                                <path d="M9.61163 44.4734C9.61163 44.4734 9.02761 44.7677 9.02761 45.6504C9.02761 46.5332 9.90364 46.8274 9.90364 46.8274C9.90364 49.0011 13.1157 50.3584 13.9918 50.3584C14.8678 50.3584 18.0799 49.0011 18.0799 46.8274C18.0799 46.8274 18.9559 46.5332 18.9559 45.6504C18.9559 44.7677 18.3719 44.4734 18.3719 44.4734M9.61163 44.4734C9.61163 44.4734 9.31962 44.4734 9.31962 42.7079C9.31962 40.9425 10.4877 38 13.9918 38C17.4959 38 18.6639 40.9425 18.6639 42.7079C18.6639 43.8849 18.3719 44.4734 18.3719 44.4734M9.61163 44.4734C9.61163 44.4734 10.1957 45.0619 11.0717 45.0619C11.0717 45.0619 10.7797 42.7079 11.6557 42.1195C12.2397 43.2964 13.9918 44.4734 15.1598 44.4734C15.1598 44.4734 14.5758 43.2964 15.1598 42.7079C15.7438 44.1792 17.4959 44.4734 18.3719 44.4734M15.1598 50.0491L15.7438 52.1238C15.7438 52.1238 19.0917 52.7704 20.0458 53.5412C21 54.312 21 55 21 55M12.8402 50.0492L12.2562 52.1238C12.2562 52.1238 8.90834 52.7704 7.95417 53.5412C7 54.312 7 55 7 55" stroke="#9C9AB1" stroke-width="1.5" stroke-miterlimit="10"/>
                            </svg>
                            <div class="documents__info">
                               <div class="documents__descr">Разворот паспорта с&nbsp;фотографией</div>
                               <div class="documents__success" hidden>Загружено</div>
                               <div  class="documents__file" hidden>
                                    <span class="documents__name">паспорт.jpg</span>
                                    <button class="button-del button-del--text-m documents__remove">Удалить файл</button>
                                </div>
                               <div>
                                    <input type="file" id="upload3" />
                                    <label class="button button--mini documents__upload" for="upload3" >Загрузить</label>
                                </div>
                            </div>
                        </div>                                               
                    </div>
                </div> 
            </div>
        </fieldset>

        <div class="form__footer form__footer--reverse">
            <div class="agree hidden">
                <a href="" class="agree__link">
                    Соглашаюсь с Правилами заполнения заявки и присоединяюсь к Соглашению об использовании ПЭП
                </a>
                <div class="form__caption agree__checkbox">
                    <input type="checkbox" class="form__chek-input" id="agree" />
                    <label class="form__chek" for="agree"></label>
                </div>
            </div>
            <div class="form__buttons">
                <button class="button button--link" type="button" id="prevBtn" onclick="nextPrev(-1)">Назад</button>
                <button class="button" type="button" id="nextBtn" onclick="nextPrev(1)">Далее</button>
            </div>
        </div>
    </form>

</main>

<!--=include footer.html -->