<!--=include header.html -->

<main class="main">

   <div class="stage">
    <div class="success stage__wrap">
        <svg width="102" height="102" viewBox="0 0 102 102" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="51" cy="51" r="48" stroke="#82B23B" stroke-width="6"/>
            <path d="M24.5203 50.5661L41.3049 67.3506L73.8611 34.7943" stroke="#82B23B" stroke-width="6"/>
        </svg>
        <div class="stage__title success__title">
            Заявка &#8470;&nbsp;1000020194 успешно отправлена.
        </div>
        <div class="success__message">
            Ожидайте звонка в&nbsp;течение 10&nbsp;минут с&nbsp;7:00 до&nbsp;21:00 по&nbsp;московскому времени.
        </div>
   </div>

</main>

<!--=include footer.html -->